.live-monitor-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1; 
  height: 100%;
}

.heatmap-box {
  background: var(--seafoam-bg);
  border: 2px dashed var(--seafoam-light);
  min-height: 300px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--seafoam-main);
}

.skeleton-box {
  flex: 1; 
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
}