.register-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.btn-register {
    background: var(--seafoam-main);
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-back-login {
    margin-top: 16px;
    background: transparent;
    color: var(--seafoam-main);
    border: none;
    width: 100%;
    cursor: pointer;
    text-decoration: underline;
}